$reg: #17aca4;
$primary-color: lightcoral;
$secondary: #0d6e6e;
$primary-text: #121212;
$secondary-text: #ffffff;
$body-bg:#fafafa;
$primary: #50a3a2;


$wt: #fff;
$bl: #000;
$grey: #777;
$greybg: #f9f9ff;
$iconbg: #111;
$bdc: #eee;
$blue: #8a90ff;
$boxshadow: 0px 10px 30px 0px rgba(212, 150, 255, 0.2);
$gradient: linear-gradient(0deg, #828fff 0%, #d496ff 100%);